#active-game {
    text-align: center;
    margin: 2rem 0 5rem 0;
    /* use javascript to start game and show game area using startNewGame function*/
    display: none; 
}

#game-over {
    width: 90%;
    max-width: 40rem;
    margin: auto;
    padding: 1rem 2rem;
    background-color: rgb(50, 5, 87);
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /* use javascript to show winner */
    display: none;
}

#game-over h2 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
}

#active-player-name {
    font-weight: bold;
    color: rgb(50, 5, 87);
}

/* styling ol */
#game-board {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    /* make grid with 3 coloumns and 3 rows */
    display: grid;
    /* adds 3 coloumns 6rem wide */
    grid-template-columns: repeat(3, 6rem); /* 6rem 6rem 6rem */
    /* adds 3 rows with 6rem height */
    grid-template-rows: repeat(3, 6rem); /* 6rem 6rem 6rem */
    /* center everything */
    justify-content: center;
    /* add row and coloumn gap between boxes of 0.5rem */
    gap: 0.5rem;
}

#game-board li {
    background-color: rgb(215, 187, 247);
    border-radius: 2px;
    cursor: pointer;
    /* turn items into flexbox */
    display: flex;
    /* horizontally and vertically centers content in boxes */
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
}

#game-board li:hover {
    background-color: rgb(112, 13, 204);
}

/* stops boxes with items in from showing hover effect and indicates cant select box */
#game-board li.disabled {
    background-color:  rgb(112, 13, 204);
    color: white;
    cursor: default;
}